

#header {
	background-color: #F3A000;
	width: 100%;
}

#saludo{
position: absolute;
top: 45;
right: 120;

}

#volveratras{
padding: 10px;
position: absolute;

}

#volveratras:active{
  transform: translateY(4px);

}

#uno{
	float:right;
	text-align:right;
	border: none;
	-webkit-transform: translate(-10%,-180%);
	-webkit-border-radius:10px;

  align-items: center;
  background-color: #686868;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #FFF;
  cursor: pointer;
  display: inline-flex;
  font-family:  sans-serif;
  font-size: 14px;
  font-weight: 300;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  margin: 5px;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

#uno:hover{ 
  background-color: #494949;
  color: #ffffff;
}

#uno:active {
  background: #494949;
  color: rgb(255, 255, 255, .7);
}

#uno:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

#capaflotante1 {
    position: absolute;
    top: 200;
    right: 0;
    z-index: 1000;
}
#capaflotante2{
    position: absolute;
    top: 200;
    left: 0;
    z-index: 1000;
    cursor:pointer;
}


#nav{
-webkit-transform: translate(19%,0%);
}

#fotos{
-webkit-transform: translate(-0%,0%);
}
#asider{
	float: right;
	-webkit-transform: translate(0%,0%);	
}
#tabla2{
-webkit-transform: translate(0%,30%);
border-style: solid;
border-bottom:80%

}

#formulario{
border: 1px solid;

}

h3{
-webkit-transform: translate(0%,30%);
text-align:center;

}

#viajeros{
cursor:pointer;
width:170px;
	padding:8px;
	border-radius:10px;
	margin:auto;
	background-color:#ccc;
	-webkit-transform: translate(30%,0%);
	

}
#viajeros:hover{
background-color:#686868;
color:#FFF;
width:173px;
transition: width, background-color, 0.5s;
transition: color 0.4s;

}

#checkin{
	margin: 15px;
	padding: 15px;
	-webkit-border-radius:10px
	border:1px;
}

#entrada{
cursor:pointer;

}


#entrada:hover{
background-color:#E8E8E8;
transition: background-color, 0.1s;

}

#checkout{
margin: 15px;
 padding: 15px;
 -webkit-border-radius:10px
 border:1px;

}

#salida{
cursor:pointer;

}


#salida:hover{
background-color:#E8E8E8;
transition: background-color, 0.1s;

}
#precio{
border:none;
}


#boton{
border:none

}
#reservar{
  -webkit-border-radius: 30;
  
  border-radius: 30px;
  font-family: sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 20px 30px;
  background: #F3A000;
  border: solid #000000 2px;
  text-decoration: none;
  width: 100%;
  cursor:pointer

}

#reservar:hover {
background-color: #AA6F00;
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
transition: box-shadow, background-color, 0.5s;

}
#alojamiento{
font-size: 150%;

}
#section{
-webkit-transform: translate(-18%,0%);

}
#vivienda{
font-size:200%;

}
#footer{

    background-color: F3A000;
    width: 100%;
    height: 125px;
}


.gallery{
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: stretch;
}

